<div class="content">
    <div class="vaccine-row">
        <div class="col s12 m4 l6 vaccine-information main">
            <p class="vaccine-information-text title">
                {{vaccine.vaccine_name}}
            </p>
            <p class="vaccine-information-text description">
                {{vaccine.description}}
            </p>
        </div>
    </div>
    <div class="vaccine-information">
        <div class="row">
            <div class="col s12 m4 l4 xl4">
                <p class="vaccine-section-title">Information</p>
                <mat-card class="vaccine-section-information">
                    <div class="row">
                        <div class="col s6" style="color: #42505C;">
                            <p class="sec-card key">Virus</p>
                            <p class="sec-card key">Requested Amount</p>
                            <p class="sec-card key last">Funded Amount</p>
                        </div>
                        <div class="col s6">
                            <p class="sec-card">{{vaccine.virus_name}}</p>
                            <p class="sec-card">{{vaccine.requested_amount}}</p>
                            <p class="sec-card last">{{vaccine.funded_amount}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col s12 m8 l8 xl8">
                <p class="vaccine-section-title">Activity</p>
                <mat-card class="vaccine-section-information">
                    <div class="vaccine-activity-container">
                        <div class="activity-item">
                            <div class="activity-image">
                                <img src="assets/img/sample.png">
                            </div>
                            <div class="activity-info">
                                <p class="activity-item-text">Researchers</p>
                                <p class="activity-item-text value">13 people</p>
                            </div>
                        </div>
                        <div class="activity-item">
                            <div class="activity-image">
                                <img src="assets/img/sample.png">
                            </div>
                            <div class="activity-info">
                                <p class="activity-item-text">Total Genomes</p>
                                <p class="activity-item-text value">12</p>
                            </div>
                        </div>
                        <div class="activity-item">
                            <div class="activity-image">
                                <img src="assets/img/sample.png">
                            </div>
                            <div class="activity-info">
                                <p class="activity-item-text">Average simularity</p>
                                <p class="activity-item-text value">83 %</p>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="vaccine-section">
        <app-genome-table></app-genome-table>
    </div>
</div>