<div class="viruses-section">
    <p class="viruses-section-title">Viruses</p>
    <div class="viruses-row section-viruses-list">
        <div *ngFor="let virus of viruses; let organizationIndex = index" class="row-item">
                <div class="Card viruses-list-item">
                        <div class="virus-information">
                            <img src="assets/img/sample.png" class="virus-image">
                            <a class="virus-title" [routerLink]="['/viruses', virus.id]">
                                {{virus.name}}
                            </a>
                            <a class="virus-family" [routerLink]="['/viruses', virus.id]">
                                {{virus.family}}
                            </a>
                        </div>
                </div>
        </div>
    </div>
</div>
