<div class="organizations-section">
    <p class="organizations-section-title">Organizations</p>
    <div class="organizations-row section-organizations-list">
        <div *ngFor="let organization of organizations; let organizationIndex = index" class="row-item">
                <div class="Card organizations-list-item">
                        <div class="organization-information">
                            <img src="assets/img/sample.png" class="organization-image">
                            <a class="organization-title" [routerLink]="['/organizations', organization.id]">
                                {{organization.name}}
                            </a>
                            <a class="organization-location" [routerLink]="['/organizations', organization.id]">
                                {{organization.city}}, {{organization.country}}
                            </a>
                        </div>
                </div>
        </div>
    </div>
</div>
