<div class="content">
    <div class="virus-row">
        <div class="col s12 m4 l2 virus-logo">
            <div style="margin: auto; width: fit-content; min-width:150px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/440px-SARS-CoV-2_without_background.png" style="width: 150px; margin:auto; border-radius: 100%;">
            </div>
        </div>
        <div class="col s12 m4 l6 virus-information main">
            <p class="virus-information-text title">
                {{virus.virus_name}}
            </p>
            <p class="virus-information-text description">
                {{virus.description}}
            </p>
        </div>
    </div>
    <div class="virus-information">
        <div class="row">
            <div class="col s12 m4 l4 xl4">
                <p class="virus-section-title">Information</p>
                <mat-card class="virus-section-information">
                    <div class="row">
                        <div class="col s6" style="color: #42505C;">
                            <p class="sec-card key">Family</p>
                            <p class="sec-card key">Fatality Rate</p>
                            <p class="sec-card key last">Spread</p>
                        </div>
                        <div class="col s6">
                            <p class="sec-card">{{virus.family}}</p>
                            <p class="sec-card">{{virus.fatality_rate}}</p>
                            <p class="sec-card last">{{virus.spread}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col s12 m8 l8 xl8">
                <p class="virus-section-title">Activity</p>
                <mat-card class="virus-section-information">
                    <div class="virus-activity-container">
                        <div class="activity-item">
                            <div class="activity-image">
                                <img src="assets/img/sample.png">
                            </div>
                            <div class="activity-info">
                                <p class="activity-item-text">Researchers</p>
                                <p class="activity-item-text value">13 people</p>
                            </div>
                        </div>
                        <div class="activity-item">
                            <div class="activity-image">
                                <img src="assets/img/sample.png">
                            </div>
                            <div class="activity-info">
                                <p class="activity-item-text">Total Genomes</p>
                                <p class="activity-item-text value">12</p>
                            </div>
                        </div>
                        <div class="activity-item">
                            <div class="activity-image">
                                <img src="assets/img/sample.png">
                            </div>
                            <div class="activity-info">
                                <p class="activity-item-text">Average simularity</p>
                                <p class="activity-item-text value">83 %</p>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="virus-section">
        <app-genome-table></app-genome-table>
    </div>
</div>