.modal-button {
    border-radius: 20px;
    background: blue;
    padding: 11px 30px;
    color: white;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;  
}
