<div class="vaccines-section">
    <p class="vaccines-section-title">Vaccines</p>
    <div class="vaccines-row section-vaccines-list">
        <div *ngFor="let vaccine of vaccines; let organizationIndex = index" class="row-item">
                <div class="Card vaccines-list-item">
                        <div class="vaccine-information">
                            <img src="{{vaccine.photo_url}}" class="vaccine-image">
                            <a class="vaccine-title" [routerLink]="['/vaccines', vaccine.vaccine_id]">
                                {{vaccine.vaccine_name}}
                            </a>
                            <a class="vaccine-title subtitle" [routerLink]="['/vaccines', vaccine.vaccine_id]">
                                {{vaccine.family}}
                            </a>
                        </div>
                </div>
        </div>
    </div>
</div>
