<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav sidebarFlex" fixedInViewport *ngIf="1"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="sidebar-container">
      <div style="flex: 1; font-family: CircularStd; font-weight:200">
        <mat-nav-list class="sidebar-menu">
          <a mat-list-item class="link-item" href="#" routerLink="/organizations">Organizations</a>
          <a mat-list-item class="link-item" href="#" routerLink="/viruses">Viruses</a>
          <a mat-list-item class="link-item" href="#" routerLink="/genomes">Genomes</a>
          <a mat-list-item class="link-item" href="#" routerLink="/profile">Profile</a>
          <a mat-list-item class="link-item" href="#" *ngIf="!auth.loggedIn" (click)="auth.login()">Login</a>
          <a mat-list-item class="link-item" href="#" *ngIf="auth.loggedIn" (click)="auth.logout()">Log out</a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="1" class="navbar-container" style="justify-content: space-between;">
      <span class="header-title">VaccineX</span>
      <app-new-genome *ngIf="router.url === '/genomes'"></app-new-genome>
      <app-new-virus *ngIf="router.url === '/viruses'"></app-new-virus>
      <app-new-tezos-account *ngIf="router.url === '/profile'"></app-new-tezos-account>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
